html,body{
margin : 0px;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.bodyBackground{
    /*background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(0,10,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);*/
}

.globalNav{
    width : 100%;
    height : 46px;
    padding-bottom: 47px;
    border-bottom: 3px solid #f5f5f5;
}

@media screen and (orientation:portrait) and (max-width: 767px) {
    .topMargin {
        top: 35%;
    }
}

@media screen and (orientation:landscape) and (max-width: 767px) {
    .topMargin {
        top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .topMargin {
        top: 35%;
    }
}

.headerImage{
    margin-left: -5px;
    margin-top: 3px;
    width: 40px;
    height: 36px;
    padding: 3px;
    padding-right: 6px;
    float: left;
    box-sizing: content-box;
}

.main-header{
    font-family: sans-serif;
    font-size: 22px;
    margin-left: 6px;
    color: #000;
}

.header-sub{
    color: #7a8893;
    font-size: 10px;
    margin-left: 5px;
    font-stretch: expanded;
    font-family: serif;
    font-style: oblique;
}

.bottom-margin{
    margin-bottom: 10px !important;
}

.border-left-radius{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.border-right-radius{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.panel-styling{
    border : none !important;
    border-radius: 10px;
    background: rgba(256,256,256,0.8);
    box-shadow: 0px 0px 20px 1px black;
}

.pageHeader{
    padding: 10px 14px 12px;
    background: #33669a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    opacity: 0.8;
}

.sectionBackGround{
    background: url("images/HSRI1.jpg") no-repeat fixed center;
    background-size: 100% 100%;
    width: 100%;
    overflow: hidden;
}

.pageHeader h1 {
    display: table-cell;
    font-size: 14px !important;
    font-family: Calibri;
    width: 100%;
    margin: 0;
}

.login {
    margin: auto;
    height: 40%;
    background-color: rgba(256, 256, 256, 0.9);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px 1px black;
}

.login h1 {
    color: #000;
    font-size: 14px;
    letter-spacing:1px;
    text-align:center;
}

.login input{
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}

.login-button{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: center;
}

.marquee{
    background: rgba(177,241,221,0.8);
    padding: 10px;
    font-size: 14px;
    font-family: serif;
}

.marquee strong{
    position: absolute;
    background: darkslategray;
    color: aliceblue;
    padding: 9px;
    left: 0px;
    margin-top: -9px;
    z-index: 1;
}

.info li.profile-details {
    width: 33.33%;
    min-height: 108px;
    border: 1px solid silver;
    border-left: none;
    border-top: none;
    float: left;
    text-align: center;
    position: relative;
    font-size: 11px;
    display: inline-block;
}

.image-icons{
    width: 60px;
    margin-top: 20px;
}

.info.profile-nav {
    margin: 0;
}

.profile-details-disabled{
    background: lightgrey;
}

.info {
    background: rgba(256,256,256,0.7) ;
    overflow: hidden;
    margin: 0 10px;
}

.profile-details a{
    font-weight: 700;
}

.profile-details img{
    -webkit-filter : grayscale(75%);
    filter : grayscale(75%);
}

.profile-section-margin{
    margin-left: -40px;
}

.profile-content{
    background: lightblue;
    border-radius: 110px;
    width: 30%;
    float: left;
    margin: 10px;
}

.static-pos{
    position: static !important;
}

.alert{
    background-color: #f2dede;
    border: none;
    padding: 8px 0;
    margin-bottom: 10px;
    color: #b94a48;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-error ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
}

#main{
    background: rgba(256,256,256,0.6);
    position: relative;
    top : 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#main a{
    display: block;
    background: rgba(256,256,256,0.4);
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-style: outset;
    margin-top: 10px;
}

.programs{
    float: left;
    margin-bottom: 15px;
    margin-right: 10px;
}

#main a:visited{
    border-style: inset;
}


#main img{
    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 5px;
    width: 70px;

}

.program-data{
    border: 1px solid darkgray;
    padding: 10px;
    border-radius: 5px;
    width: 195px;
    height: 65px;
}

.program-data strong{
    font-size: 12px;
}