<script>
    $(window).ready(function(){
        document.getElementsByTagName('section')[0].style.height =  document.getElementsByTagName("BODY")[0].clientHeight -50;

    });
    $(window).resize(function(){
        document.getElementsByTagName('section')[0].style.height = document.getElementsByTagName("BODY")[0].clientHeight -50;
    });

</script>
<section class="sectionBackGround" style="overflow: auto;">

    <div class="container-fluid" style="margin-top: 20px;background: rgba(256,256,256,0.4)">
        <h4 style="text-align: center"><strong>Contact Us</strong></h4>
    </div>

    <div class="container-fluid" style="margin-top: 20px;background: rgba(256,256,256,0.4);padding: 10px;">
        <div class="pull-left">
            <h2 style="font-size: 14px; margin-top: 15px; margin-bottom: 10px;"><strong style="border-bottom: 2px #000000 solid;">Contact Center</strong></h2>
            <p style="padding: 10px">
                <a href="tel:1-855-840-4774">1-855-840-4774</a><br>
                Mon - Fri 8:00 am - 7:00 pm <br>
                Employers: 1-855-683-6757 <br>
                TTY: <a href="tel:1-888‐657-3173">1-888‐657-3173</a><br>
                Fax: 1-401-223-6317<br>
            </p>
        </div>
        <div class="pull-left">
            <h2 style="font-size: 14px; margin-top: 15px; margin-bottom: 10px;"><strong style="border-bottom: 2px #000000 solid;">Walk-in Center</strong></h2>
            <p style="padding: 10px">
                In-person enrollment<br>
                assistance available now<br>
                401 Wampanoag Trail<br>
                East Providence, RI 02915<br>
                Hours: Mon-Fri 8:00 am - 7:00 pm<br>
            </p>
        </div>
        <div class="pull-left">
            <h2 style="font-size: 14px; margin-top: 15px; margin-bottom: 10px;"><strong style="border-bottom: 2px #000000 solid;">Administrative Offices</strong></h2>
            <p style="padding: 10px">

                43 Cherry Dale Court<br>
                Cranston, RI 02920<br>
                <a href="tel:1-401-462-3600">1-401-462-3600</a><br>
            </p>
        </div>
    </div>

</section>

