<script>
    $(window).ready(function(){
        document.getElementsByTagName('section')[0].style.height =  document.getElementsByTagName("BODY")[0].clientHeight -50;

    });
    $(window).resize(function(){
        document.getElementsByTagName('section')[0].style.height = document.getElementsByTagName("BODY")[0].clientHeight -50;
    });
</script>
<section class="sectionBackGround" style="overflow: auto">
    <div style="position: relative">
        <div class="container-fluid" style="margin-top: 20px;background: rgba(256,256,256,0.6)">
            <h2 style="font-size: 14px; text-align: center"><strong>Program 1</strong></h2>
        </div>
    </div>

    <div id="main" class="container-fluid">
        <div class="programs">
            <img src="/images/User_icon.png" class="pull-left" style="margin-right: 15px">
            <div class="program-data pull-right">
                <strong>Amount : $ 100000</strong><br>
                <strong>Period : -</strong>
            </div>
        </div>
        <div class="programs">
            <img src="/images/User_icon.png" class="pull-left" style="margin-right: 15px">
            <div class="program-data pull-right">
                <strong>Amount : $ 100000</strong><br>
                <strong>Period : -</strong>
            </div>
        </div>
        <div class="programs">
            <img src="/images/User_icon.png" class="pull-left" style="margin-right: 15px">
            <div class="program-data pull-right">
                <strong>Amount : $ 100000</strong><br>
                <strong>Period : -</strong>
            </div>
        </div>
    </div>

</section>